name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Evaluar
      id: evaluar
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Evaluar
        setup-command: ''
        command: make
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        EVALUAR_RESULTS: "${{steps.evaluar.outputs.result}}"
      with:
        runners: evaluar
